@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
             body {
                background-color: #f1f1f1;
             }
             .sidenav {
                 height: 650px;
                 width: 450px;
                 position: fixed;
                 z-index: 1;
                 top: 100px;
                 left: 50px;
                 background-color: #FFFFFF;
                 border-style: groove;
               
                 
        }
             .button-wrapper .btn {
                  margin-bottom:10px;
             }
             .main {
                 height: 650px;
                 width: 1000px;
                 top: 100px;
                 margin-left: 450px; 
                background-color: #FFFFFF;
                border-style: groove;
             }
             .other-container{
                 height: 540px;
                 width: 980px;
                 margin-block-start: 40px;
                 margin-left: 10px;
                 background-color: #FFFFFF;
                 border-style: groove;
             }
          
    </style>

</head>
<body>
    
<div class="col-sm-3 sidenav">
 
    <div class="sidenav">
        <div class="d-grid gap-2 button-wrapper">
             <h4>Topics</h4>
         <button class="btn btn-info" type="button">Derivatives</button>
         <button class="btn btn-info" type="button">Derivative Applications</button>
         <button class="btn btn-info" type="button">Limits</button>
         <button class="btn btn-info" type="button">Integrals</button>
         <button class="btn btn-info" type="button">Integral Applications</button>
         <button class="btn btn-info" type="button">Series</button>
         <button class="btn btn-info" type="button">Laplace Transform</button>
        </div>
    </div>
</div>
<div class="main">
  <div class="input-group">
                <input type="text" class="form-control" placeholder="Advanced Calculator">
          <span class="input-group-btn m-lg-1 ">
          <button class="btn btn-primary " type="button">Solve</button>
        </span>
   </div>
   <div class="other-container">
       <h3>SOLUTION FOR:</h3>
   </div>

</div>

</body>