@{
    ViewData["Title"] = "Trigonometry";
}
<head>
    <style>
         body {
             background-image: url('https://previews.123rf.com/images/gjerome69/gjerome692003/gjerome69200300006/141348470-a-whiteboard-full-of-mathematical-formulas-educational-concept-background.jpg');

          }
            
             .sidenav {
                 height: auto;
                 width: 450px;
                 position: fixed;
                 z-index: 1;
                 top: 100px;
                 left: 50px;
                 background-color: #FFFFFF;
                 border-style: groove;
               
                 
        }
             .button-wrapper .btn {
                  margin-bottom:10px;
             }
             .main {
                 height: 650px;
                 width: 1000px;
                 top: 100px;
                 margin-left: 450px; 
                background-color: #FFFFFF;
                border-style: groove;
             }
             .other-container{
                 height: 540px;
                 width: 980px;
                 margin-block-start: 40px;
                 margin-left: 10px;
                 background-color: #FFFFFF;
                 border-style: groove;
             }
          
    </style>

</head>
<body>
    
<div class="col-sm-3 sidenav">
 
    <div class="sidenav">
        <div class="d-grid gap-2 button-wrapper">
             <h4>Topics</h4>
         <button class="btn btn-success" type="button">Identities</button>
         <button class="btn btn-success" type="button">Proving Identities</button>
         <button class="btn btn-success" type="button">Trigonometric Equations</button>
         <button class="btn btn-success" type="button">Trig Inequalities</button>
         <button class="btn btn-success" type="button">Evaluate Functions</button>
         <button class="btn btn-success" type="button">Simplify</button>
         
        </div>
    </div>
</div>
<div class="main">
  <div class="input-group">
                <input type="text" class="form-control" placeholder="Advanced Calculator">
          <span class="input-group-btn m-lg-1 ">
          <button class="btn btn-primary " type="button">Solve</button>
        </span>
   </div>
   <div class="other-container">
       <h3>SOLUTION FOR:</h3>
   </div>

</div>

</body>